@tailwind base;
@tailwind components;
@tailwind utilities;


/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #212121;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1E1E2E;
  }
  
  /* For Firefox */
  /* Please note that as of my last update, Firefox didn't support customizing scrollbar properties directly via CSS. */
  
  /* For Internet Explorer and Edge */
  /* Internet Explorer and Edge have their own set of properties for customizing scrollbars, but it's quite limited. */
  